*.o
Info.plist
*.so
*.pyc
*.pdf
*.bin
nbody
.DS_Store
error.txt
tests/testall.html
tests/*/*.txt
tests/*/*.png
tests/*/nbody*
tests/*/rebound*
examples/*/rebound*
doc/html/*
doc/latex/*
doc/Doxyfile
others/mercury6
others/mercury6.tar
others/*/
MANIFEST
rebound.egg-info
venv/
dist/
build/
src/rebound
.ipynb_checkpoints
others/*.tar.gz
others/*.tar
doc/doxygen/xml/
doc/_build/
doc/c_examples.rst
doc/c_example_*.rst
doc/doxygen/html/
doc/ipython
doc/search.json
problems/
ipython_examples/HERMES_long_examples/output/*
examples/planetesimals_scaling_tests/dtvdE_files/*
examples/planetesimals_scaling_tests/output/*
examples/planetesimals_scaling_tests/saved_output/*
examples/planetesimals_Kirsh/energy_avg/*
examples/planetesimals_Kirsh/output/*
examples/planetesimals_Kirsh/saved_output/*
examples/planetesimals_old/planetesimals_massiveSS/output/*
examples/planetesimals_old/planetesimals_massiveSS/energy_avg/*
examples/planetesimals_old/planetesimals_massiveSS/saved_output/*
examples/planetesimals_swift_merc_comp/output/*
examples/planetesimals_swift_merc_comp/saved_output/*
examples/planetesimals_swift_merc_comp/energy_avg/*
examples/planetesimals_testing/output/*
examples/planetesimals_testing/saved_output/*
examples/planetesimals_vanilla/output/*
examples/planetesimals_vanilla/saved_output/*
examples/planetesimals_vanilla/energy_avg/*
examples/planetesimals_testing/output/*
examples/planetesimals_testing/saved_output/*
examples/planetesimals_migration_test/output/*
examples/planetesimals_migration_test/saved_output/*
examples/planetesimals_resonance/output/*
examples/planetesimals_resonance/saved_output/*
examples/planetesimals_old/planetesimal_Chelsea_Cristobel/saved_output/*
examples/planetesimals_old/planetesimal_Chelsea_Cristobel/output/*
examples/planetesimal_postdoc/output/*
examples/planetesimal_postdoc/saved_output/*
examples/ari_instability_time/saved_output/*
examples/ari_instability_time/output/*
examples/planetesimal_Kepler51/output/*
examples/planetesimal_Kepler51/saved_output/*
examples/HD155358/saved_output/*
examples/HD155358/output/*
